/* Size for brand */

.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.form-inline label {
margin: 5px 10px 5px 0;
}

/* Make register mobile friendly */
@media only screen and (max-width: 768px) {
	/* Force table to not be like tables anymore */
	table, thead, tbody, .tg1, .tg-0laxhalf, th, td, tr { 
		display: block; 
	}

    .tg1 {
        width: 0;
    }

	td { 
		/* Behave  like a "row" */
		position: relative;
	}

    .tg-0laxhalf {
        white-space: nowrap;
    }

}

@media only screen and (min-width: 768px) {
	/* Normal margins and width for register in desktop */

    .tg1 {
        margin: auto;
        width: 50%;
        padding: 10px;
    }

}

.tg-0laxhalf {
    width: 50%;
    padding: 60px
}

/* Make dashboard mobile friendly */
@media only screen and (max-width: 768px) {
  .row {
     display: block;
     margin-left: 100px;
  }
}

/* div sizing for non-mobile dashboard */
.col-sm-4{
    width: 50%;
}

.col-sm-8 {
    width: 50%;
}

nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}


/* Credit to W3 Schools for helping w/ popup */
{box-sizing: border-box;}

/* Button used to open the popup form */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: relative;
  bottom: 0;
  top: 5px;
  width: 250px;
  height: 220px;
  border: 3px solid #f1f1f1;
  margin: auto;
  z-index: 9;
  border-radius: 10px;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
