{% extends "layout.html" %}

{% block title %}
    Collector Dashboard
{% endblock %}

{% block main %}
<!--Bootstrap for formatting using columns and flexboxes
    https://getbootstrap.com/docs/5.2/layout/columns/-->
    <div class="container md-5">
        <div class="row">
            <!-- Page description and groundup overview -->
            <div class="col-sm-4">
                <div style="display: flex; align-items: center; justify-content: center;">
                    <img src="/static/logo.jpeg" alt="logo" style="height: 50px; margin-right: 10px; margin-left: 10px;">
                    <h1>GroundUp</h1>
                </div>
                <h4>
                    India's tailor-made data collection platform
                </h4>
                <!--Image Attribution: https://t4.ftcdn.net/jpg/03/17/67/17/360_F_317671777_x3V3tOViyPtEAsNFsV4Lmbk5q26HL9Q9.jpg-->
                <div><img src="https://t4.ftcdn.net/jpg/03/17/67/17/360_F_317671777_x3V3tOViyPtEAsNFsV4Lmbk5q26HL9Q9.jpg" alt="India" width="100%" height="auto"></div>
                <hr class="d-sm-none">
                <br>
                <br>
                <br>
                <!-- Page Description-->
                <h2>Collector Dashboard</h2>
                <p>View and update data collector profile</p>
            </div>
            
            <!-- Data collector profile and information input -->
            <div class="col-sm-8">
                <!-- Displays user's profile information, taking info from database -->
                <h2>Current Profile</h2>
                <p>(username: {{ username }})</p>
                <p><strong>Name:</strong> {{ profile[0]["firstname"] }} {{ profile[0]["lastname"] }} </p>
                {% if address == 1 %}
                    <p><strong>Location:</strong> None</p>
                {% else %}
                    <p><strong>Location:</strong> {{ address["city"] }} {{ address["state"] }} {{ address["country"] }} ({{ profile[0]["lat"] | round(3) }}, {{ profile[0]["lng"] | round(3)}})</p>
                {% endif %}
                <p><strong>Occupation:</strong> {{ profile[0]["occupation"] }}</p>
                <p><strong>Degree:</strong> {{ profile[0]["degree"] }}</p>
                <p><strong>Sector:</strong> {{ profile[0]["sector"] }}</p>

                <!-- Allows user to update their profile info -->
                <form action="/dashboard" method="post">
                    <br><br>
                    <h2>Update Profile</h2>
                    <br>
                    
                    <h5>New Name</h5>
                    <div class="mb-3">
                        <input id="firstname" autocomplete="off" class="form-control mx-auto w-auto" name="firstname" placeholder="first name" type="text">
                    </div>
                    <div class="mb-3">
                        <input id="lastname" autocomplete="off" class="form-control mx-auto w-auto" name="lastname" placeholder="last name" type="text">
                    </div>
                    <button class="btn btn-primary" type="submit" name="updatebtn" value="name">Update</button>
                    <br><br>

                    <h5>New Location</h5>
                    <div class="mb-3">
                        <input id="latitude" autocomplete="off" class="form-control mx-auto w-auto" name="latitude" placeholder="latitude" type="number" step="any">
                    </div>
                    <div class="mb-3">
                        <input id="longitude" autocomplete="off" class="form-control mx-auto w-auto" name="longitude" placeholder="longitude" type="number" step="any">
                    </div>
                    <button class="btn btn-primary" type="submit" name="updatebtn" value="location">Update</button>
                    <br><br>

                    <h5>New Occupation</h5>
                    <div class="mb-3">
                        <input id="occupation" autocomplete="off" class="form-control mx-auto w-auto" name="occupation" placeholder="occupation" type="text">
                    </div>
                    <button class="btn btn-primary" type="submit" name="updatebtn" value="occupation">Update</button>
                    <br><br>
                    
                    <h5>New Degree</h5>
                    <div class="mb-3">
                        <input id="degree" autocomplete="off" class="form-control mx-auto w-auto" name="degree" placeholder="degree" type="text">
                    </div>  
                    <button class="btn btn-primary" type="submit" name="updatebtn" value="degree">Update</button>
                    <br><br>

                    <h5>New Sector</h5>
                    <div class="mb-3">
                        <input id="sector" autocomplete="off" class="form-control mx-auto w-auto" name="sector" placeholder="sector" type="text">
                    </div>  
                    <button class="btn btn-primary" type="submit" name="updatebtn" value="sector">Update</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
