{% extends "layout.html" %}

{% block title %}
    GroundUp
{% endblock %}

{% block main %}
    <div style="display: flex; align-items: center; justify-content: center;">
        <h1>Welcome to</h1>
        <img src="/static/logo.jpeg" alt="logo" style="height: 50px; margin-right: 10px; margin-left: 10px;">
        <h1>GroundUp</h1>
    </div>
    <h4>
        India's tailor-made data collection platform
    </h4>
    <br>
    <br>

    <div class="container md-5">
        <div class="row">
            <div class="col-sm-4">
                <h4 style="text-align: left; font-weight: normal;">
                GroundUp is a digital marketplace and decentralized data collection platform for rural and peri-urban India. We connect data seekers (clients) with trained data collectors (service providers) to facilitate the collection of high quality, local, timely data in large volumes and at low costs.
                </h4>
                <br>
                <h4 style="text-align: left; font-weight: normal;">
                <ul>
                    <li>We leverage a hyperlocal fleet of trained data collectors.</li>
                    <li>We use technology to automate aspects of data collection and monitor data quality.</li>
                    <li>We prioritize fair take-home earnings for data collectors.</li>
                </ul>
                </h4> 
            </div>
            <div class="col-sm-8">     
                <h4 style="font-weight: normal;">
                For more information, please contact:
                <a href = "mailto: mohanhathi@college.harvard.edu">mohanhathi@college.harvard.edu</a>
                </h4>
            </div>
        </div>
    </div>
{% endblock %}