{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

<main class="container py-5 text-center">
    
    <h1>Groundup</h1>
    <h3>
        India's tailor made data collection service.
    </h3>

    <p>Input your parameters below to get matched to data collectors on a map</p>
    <br>


    <form action="/" method="post">
        <h5>Location</h5>
        
        <div class="form-inline">
            <label for="distance">Within</label>
            <input type="number" id="distance" autocomplete="off" class="form-control mx-auto w-auto" min="0" name="distance" placeholder="number">
            <label for="place">miles of</label><br>
            <input id="place" autocomplete="off" class="form-control mx-auto w-auto" name="address" placeholder="address" type="text">
        </div>
        
        <div class="mb-3">
            <h5>Occupation</h5>
            <select class="form-select mx-auto w-auto" name="occupation">
                <option disabled="" selected="">Occupation</option>
                    {% for row in occupation%}
                        <option value="{{ row['occupation'] }}">{{ row['occupation'] }}</option>
                    {% endfor %}         
            </select>

            <h5>Degree</h5>
            <select class="form-select mx-auto w-auto" name="degree">
                <option disabled="" selected="">Degree</option>
                    {% for row in degree%}
                        <option value="{{ row['degree'] }}">{{ row['degree'] }}</option>
                    {% endfor %}
            </select>

            <h5>Sector</h5>
            <select class="form-select mx-auto w-auto" name="sector">
                <option disabled="" selected="">Sector</option>
                    {% for row in sector%}
                        <option value="{{ row['sector'] }}">{{ row['sector'] }}</option>
                    {% endfor %}
            </select>
        </div>

        <button class="btn btn-primary" type="submit">Match</button>
    </form>

</main>

{% endblock %}