{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <h3>Login</h3>   
    <form action="/login" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>
    <br>
    <br>
    
    <!--Forgot password button, click to open a new form that lets you change password-->
    <button class="btn btn-secondary" type="forgot" onclick="openForm()">Forgot Password?</button>

    <!-- Forgot Password Popup Form: -->
    <form action="/forgot" method="post">
        <div class="form-popup" id="myForm">        
            <br>
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">    
            <br>
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Enter New Password" type="password">
            <br>
            <button type="submit" class="btn btn-danger">Reset</button>
            <button type="button" class="btn btn-secondary" onclick="closeForm()">Close</button>
        </div>
        
        <!-- JS functionality to open and close popup -->
          <script>
          function openForm() {
            document.getElementById("myForm").style.display = "block";
          }
          
          function closeForm() {
            document.getElementById("myForm").style.display = "none";
          }
          </script>
      
    </form>
{% endblock %}