<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_5e9f18b9cfcce4f691fc90a69c510fae {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_5e9f18b9cfcce4f691fc90a69c510fae" ></div>
        
</body>
<script>
    
    
            var map_5e9f18b9cfcce4f691fc90a69c510fae = L.map(
                "map_5e9f18b9cfcce4f691fc90a69c510fae",
                {
                    center: [28.6139, 77.209],
                    crs: L.CRS.EPSG3857,
                    zoom: 6,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_e480569f494767c5edb7910f84cddef3 = L.tileLayer(
                "https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}{r}.png",
                {"attribution": "Attribution to OpenStreetMaps", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_5e9f18b9cfcce4f691fc90a69c510fae);
        
    
            var marker_1ab8d1ca06cf17e04d870d6f204b9824 = L.marker(
                [21.274469080688093, 71.81579178619144],
                {}
            ).addTo(map_5e9f18b9cfcce4f691fc90a69c510fae);
        
    
        var popup_63193e712bb2e54c236ca1c87e41519b = L.popup({"maxWidth": 500});

        
            
                var html_c20c017480e1198436d796e217b36d06 = $(`<div id="html_c20c017480e1198436d796e217b36d06" style="width: 100.0%; height: 100.0%;"><!DOCTYPE html>     <html>     <head>     <h4 style="margin-bottom:10"; width="200px">Krishna Narayan</h4>     </head>         <table style="height: 126px; width: 350px;">     <tbody>     <thead>     <tr>         <th class="tg-0pky">Occupation: teacher</th>     </tr>     </thead>     <tbody>     <tr>         <td class="tg-0pky">Education: batchelors</td>     </tr>     <tr>         <td class="tg-0pky">Sector: education</td>     </tr>      </tbody>     </table>     </html>     </div>`)[0];
                popup_63193e712bb2e54c236ca1c87e41519b.setContent(html_c20c017480e1198436d796e217b36d06);
            
        

        marker_1ab8d1ca06cf17e04d870d6f204b9824.bindPopup(popup_63193e712bb2e54c236ca1c87e41519b)
        ;

        
    
    
            var marker_79c625d19bdc0c8b78509e8bf4282358 = L.marker(
                [27.187629561182767, 74.5901423584346],
                {}
            ).addTo(map_5e9f18b9cfcce4f691fc90a69c510fae);
        
    
        var popup_09d0138ffb6292110008429e51430023 = L.popup({"maxWidth": 500});

        
            
                var html_3726b54aa6187ffa4a17d7d7ac4efcb6 = $(`<div id="html_3726b54aa6187ffa4a17d7d7ac4efcb6" style="width: 100.0%; height: 100.0%;"><!DOCTYPE html>     <html>     <head>     <h4 style="margin-bottom:10"; width="200px">Nitesh Verma</h4>     </head>         <table style="height: 126px; width: 350px;">     <tbody>     <thead>     <tr>         <th class="tg-0pky">Occupation: village level entrepreneur</th>     </tr>     </thead>     <tbody>     <tr>         <td class="tg-0pky">Education: batchelors</td>     </tr>     <tr>         <td class="tg-0pky">Sector: education</td>     </tr>      </tbody>     </table>     </html>     </div>`)[0];
                popup_09d0138ffb6292110008429e51430023.setContent(html_3726b54aa6187ffa4a17d7d7ac4efcb6);
            
        

        marker_79c625d19bdc0c8b78509e8bf4282358.bindPopup(popup_09d0138ffb6292110008429e51430023)
        ;

        
    
    
            var marker_5c9ff63d10d54d09c01437bfbdeb734e = L.marker(
                [23.511726916360224, 73.51172680303709],
                {}
            ).addTo(map_5e9f18b9cfcce4f691fc90a69c510fae);
        
    
        var popup_844bc70789c076849efbb81bc007b83a = L.popup({"maxWidth": 500});

        
            
                var html_2d4a52e79e414911fb094c716f7de35b = $(`<div id="html_2d4a52e79e414911fb094c716f7de35b" style="width: 100.0%; height: 100.0%;"><!DOCTYPE html>     <html>     <head>     <h4 style="margin-bottom:10"; width="200px">Lakshmi Siyaram</h4>     </head>         <table style="height: 126px; width: 350px;">     <tbody>     <thead>     <tr>         <th class="tg-0pky">Occupation: anganwadi worker</th>     </tr>     </thead>     <tbody>     <tr>         <td class="tg-0pky">Education: secondary</td>     </tr>     <tr>         <td class="tg-0pky">Sector: health</td>     </tr>      </tbody>     </table>     </html>     </div>`)[0];
                popup_844bc70789c076849efbb81bc007b83a.setContent(html_2d4a52e79e414911fb094c716f7de35b);
            
        

        marker_5c9ff63d10d54d09c01437bfbdeb734e.bindPopup(popup_844bc70789c076849efbb81bc007b83a)
        ;

        
    
</script>
</html>