<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_9038bb2516c3b87dffed33289dbe4e94 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_9038bb2516c3b87dffed33289dbe4e94" ></div>
        
</body>
<script>
    
    
            var map_9038bb2516c3b87dffed33289dbe4e94 = L.map(
                "map_9038bb2516c3b87dffed33289dbe4e94",
                {
                    center: [28.6139, 77.209],
                    crs: L.CRS.EPSG3857,
                    zoom: 6,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_56b31a3146fa5a7a437d2281d66d6b3f = L.tileLayer(
                "https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}{r}.png",
                {"attribution": "My Data Attribution", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_9038bb2516c3b87dffed33289dbe4e94);
        
    
            var marker_72b96c6523ea7902cd116444d5f7eeb6 = L.marker(
                [28.6139, 77.209],
                {}
            ).addTo(map_9038bb2516c3b87dffed33289dbe4e94);
        
    
            var marker_15840ba826a2d160dee764d81fa017d2 = L.marker(
                [21.274469080688093, 71.81579178619144],
                {}
            ).addTo(map_9038bb2516c3b87dffed33289dbe4e94);
        
    
        var popup_58d1b33d117fd33c3302518c9e166aac = L.popup({"maxWidth": "100%"});

        
            
                var html_2bf8cbf8542d08f0370d6eae3d78e949 = $(`<div id="html_2bf8cbf8542d08f0370d6eae3d78e949" style="width: 100.0%; height: 100.0%;"><i>Data Collector</i></div>`)[0];
                popup_58d1b33d117fd33c3302518c9e166aac.setContent(html_2bf8cbf8542d08f0370d6eae3d78e949);
            
        

        marker_15840ba826a2d160dee764d81fa017d2.bindPopup(popup_58d1b33d117fd33c3302518c9e166aac)
        ;

        
    
    
            var marker_62eed5d6a280354b33b8c85e71c4e6c9 = L.marker(
                [27.187629561182767, 74.5901423584346],
                {}
            ).addTo(map_9038bb2516c3b87dffed33289dbe4e94);
        
    
        var popup_b4b195d7e8e1e958db3331434e594e73 = L.popup({"maxWidth": "100%"});

        
            
                var html_fcf83a91458ec5b77aaa52ee264127c2 = $(`<div id="html_fcf83a91458ec5b77aaa52ee264127c2" style="width: 100.0%; height: 100.0%;"><i>Data Collector</i></div>`)[0];
                popup_b4b195d7e8e1e958db3331434e594e73.setContent(html_fcf83a91458ec5b77aaa52ee264127c2);
            
        

        marker_62eed5d6a280354b33b8c85e71c4e6c9.bindPopup(popup_b4b195d7e8e1e958db3331434e594e73)
        ;

        
    
    
            var marker_5a222cdcfb078b6add9ce4126fc99c53 = L.marker(
                [23.511726916360224, 73.51172680303709],
                {}
            ).addTo(map_9038bb2516c3b87dffed33289dbe4e94);
        
    
        var popup_93b1d42da67cd7fd603edcc687b08724 = L.popup({"maxWidth": "100%"});

        
            
                var html_3f447835973841c7d864b65ff7dff2c7 = $(`<div id="html_3f447835973841c7d864b65ff7dff2c7" style="width: 100.0%; height: 100.0%;"><i>Data Collector</i></div>`)[0];
                popup_93b1d42da67cd7fd603edcc687b08724.setContent(html_3f447835973841c7d864b65ff7dff2c7);
            
        

        marker_5a222cdcfb078b6add9ce4126fc99c53.bindPopup(popup_93b1d42da67cd7fd603edcc687b08724)
        ;

        
    
</script>
</html>