<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_3f4669dadf6006a859e303b41da052c7 {
                    position: relative;
                    width: 100.0%;
                    height: 90.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_3f4669dadf6006a859e303b41da052c7" ></div>
        
</body>
<script>
    
    
            var map_3f4669dadf6006a859e303b41da052c7 = L.map(
                "map_3f4669dadf6006a859e303b41da052c7",
                {
                    center: [23.99127518607703, 73.30588698255438],
                    crs: L.CRS.EPSG3857,
                    zoom: 6,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_23f324f34ab13563004445e8694fb118 = L.tileLayer(
                "https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}{r}.png",
                {"attribution": "Attribution to OpenStreetMaps", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_3f4669dadf6006a859e303b41da052c7);
        
    
            var marker_361972ca523fab181fcae798dfcc3582 = L.marker(
                [21.274469080688093, 71.81579178619144],
                {}
            ).addTo(map_3f4669dadf6006a859e303b41da052c7);
        
    
        var popup_75b70f42cf76cd6b0065b8ff3b181f59 = L.popup({"maxWidth": 500});

        
            
                var html_853acbf73e05113fe3b8b5e6e192ccd7 = $(`<div id="html_853acbf73e05113fe3b8b5e6e192ccd7" style="width: 100.0%; height: 100.0%;"><!DOCTYPE html>     <html>     <head>     <h4 style="margin-bottom:10"; width="200px">Krishna Narayan</h4>     </head>         <table style="height: 126px; width: 350px;">     <tbody>     <thead>     <tr>         <th class="tg-0pky">Occupation: teacher</th>     </tr>     </thead>     <tbody>     <tr>         <td class="tg-0pky">Degree: batchelors</td>     </tr>     <tr>         <td class="tg-0pky">Sector: education</td>     </tr>      </tbody>     </table>     </html>     </div>`)[0];
                popup_75b70f42cf76cd6b0065b8ff3b181f59.setContent(html_853acbf73e05113fe3b8b5e6e192ccd7);
            
        

        marker_361972ca523fab181fcae798dfcc3582.bindPopup(popup_75b70f42cf76cd6b0065b8ff3b181f59)
        ;

        
    
    
            var marker_e3118c17c8c064147c6d57748d06e52d = L.marker(
                [27.187629561182767, 74.5901423584346],
                {}
            ).addTo(map_3f4669dadf6006a859e303b41da052c7);
        
    
        var popup_371627bacc037441befdc57feccc395f = L.popup({"maxWidth": 500});

        
            
                var html_f9bfd8d5380d870e86386437092d26ea = $(`<div id="html_f9bfd8d5380d870e86386437092d26ea" style="width: 100.0%; height: 100.0%;"><!DOCTYPE html>     <html>     <head>     <h4 style="margin-bottom:10"; width="200px">Nitesh Verma</h4>     </head>         <table style="height: 126px; width: 350px;">     <tbody>     <thead>     <tr>         <th class="tg-0pky">Occupation: village level entrepreneur</th>     </tr>     </thead>     <tbody>     <tr>         <td class="tg-0pky">Degree: batchelors</td>     </tr>     <tr>         <td class="tg-0pky">Sector: education</td>     </tr>      </tbody>     </table>     </html>     </div>`)[0];
                popup_371627bacc037441befdc57feccc395f.setContent(html_f9bfd8d5380d870e86386437092d26ea);
            
        

        marker_e3118c17c8c064147c6d57748d06e52d.bindPopup(popup_371627bacc037441befdc57feccc395f)
        ;

        
    
    
            var marker_a271cfcbb5212e99e28899a673ee9c35 = L.marker(
                [23.511726916360224, 73.51172680303709],
                {}
            ).addTo(map_3f4669dadf6006a859e303b41da052c7);
        
    
        var popup_c3d7a1cc5628febab0fb8f8bb281967d = L.popup({"maxWidth": 500});

        
            
                var html_dc961b1d5b65e7ac3142b8d9e8f1c9de = $(`<div id="html_dc961b1d5b65e7ac3142b8d9e8f1c9de" style="width: 100.0%; height: 100.0%;"><!DOCTYPE html>     <html>     <head>     <h4 style="margin-bottom:10"; width="200px">Lakshmi Siyaram</h4>     </head>         <table style="height: 126px; width: 350px;">     <tbody>     <thead>     <tr>         <th class="tg-0pky">Occupation: anganwadi worker</th>     </tr>     </thead>     <tbody>     <tr>         <td class="tg-0pky">Degree: secondary</td>     </tr>     <tr>         <td class="tg-0pky">Sector: health</td>     </tr>      </tbody>     </table>     </html>     </div>`)[0];
                popup_c3d7a1cc5628febab0fb8f8bb281967d.setContent(html_dc961b1d5b65e7ac3142b8d9e8f1c9de);
            
        

        marker_a271cfcbb5212e99e28899a673ee9c35.bindPopup(popup_c3d7a1cc5628febab0fb8f8bb281967d)
        ;

        
    
</script>
</html>