<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_02a4295aafa936e58941e954660abc54 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_02a4295aafa936e58941e954660abc54" ></div>
        
</body>
<script>
    
    
            var map_02a4295aafa936e58941e954660abc54 = L.map(
                "map_02a4295aafa936e58941e954660abc54",
                {
                    center: [23.991275186077033, 73.30588698255437],
                    crs: L.CRS.EPSG3857,
                    zoom: 6,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_0b3407bedb8f3f02142fd3f178dc9daa = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_02a4295aafa936e58941e954660abc54);
        
    
            var marker_d1fbcda8a35a6423c881fbdb4f72cbc5 = L.marker(
                [21.2744690806881, 71.8157917861914],
                {}
            ).addTo(map_02a4295aafa936e58941e954660abc54);
        
    
        var popup_0f1329ab128bf454ec3491f21e248cfd = L.popup({"maxWidth": 500});

        
            
                var html_5e77e27806d304880e7b753fc89fa4b1 = $(`<div id="html_5e77e27806d304880e7b753fc89fa4b1" style="width: 100.0%; height: 100.0%;"><!DOCTYPE html>     <html>     <head>     <h4 style="margin-bottom:10"; width="200px">Krishna Narayan</h4>     </head>         <table style="height: 126px; width: 350px;">     <tbody>     <tr>         <td class="tg-0pky">Occupation: teacher</td>     </tr>     <tr>         <td class="tg-0pky">Degree: bachelors</td>     </tr>     <tr>         <td class="tg-0pky">Sector: education</td>     </tr>      </tbody>     </table>     </html>     </div>`)[0];
                popup_0f1329ab128bf454ec3491f21e248cfd.setContent(html_5e77e27806d304880e7b753fc89fa4b1);
            
        

        marker_d1fbcda8a35a6423c881fbdb4f72cbc5.bindPopup(popup_0f1329ab128bf454ec3491f21e248cfd)
        ;

        
    
    
            var marker_8135b0c72ba65a7622d8e8e7a04cf6ed = L.marker(
                [27.1876295611828, 74.5901423584346],
                {}
            ).addTo(map_02a4295aafa936e58941e954660abc54);
        
    
        var popup_a5eaff0d6fe65e6cc08af3cb25ca51e3 = L.popup({"maxWidth": 500});

        
            
                var html_0c14490f3efe1d7575b22f5e7082883c = $(`<div id="html_0c14490f3efe1d7575b22f5e7082883c" style="width: 100.0%; height: 100.0%;"><!DOCTYPE html>     <html>     <head>     <h4 style="margin-bottom:10"; width="200px">Nitesh Verma</h4>     </head>         <table style="height: 126px; width: 350px;">     <tbody>     <tr>         <td class="tg-0pky">Occupation: village level entrepreneur</td>     </tr>     <tr>         <td class="tg-0pky">Degree: bachelors</td>     </tr>     <tr>         <td class="tg-0pky">Sector: education</td>     </tr>      </tbody>     </table>     </html>     </div>`)[0];
                popup_a5eaff0d6fe65e6cc08af3cb25ca51e3.setContent(html_0c14490f3efe1d7575b22f5e7082883c);
            
        

        marker_8135b0c72ba65a7622d8e8e7a04cf6ed.bindPopup(popup_a5eaff0d6fe65e6cc08af3cb25ca51e3)
        ;

        
    
    
            var marker_9e3d7b069c8c97d34de785f20c124108 = L.marker(
                [23.5117269163602, 73.5117268030371],
                {}
            ).addTo(map_02a4295aafa936e58941e954660abc54);
        
    
        var popup_b2f24e337cbb3bbaa603245906937d09 = L.popup({"maxWidth": 500});

        
            
                var html_cb0d083d161cd0c0835fae5eedb417cc = $(`<div id="html_cb0d083d161cd0c0835fae5eedb417cc" style="width: 100.0%; height: 100.0%;"><!DOCTYPE html>     <html>     <head>     <h4 style="margin-bottom:10"; width="200px">Lakshmi Siyaram</h4>     </head>         <table style="height: 126px; width: 350px;">     <tbody>     <tr>         <td class="tg-0pky">Occupation: anganwadi worker</td>     </tr>     <tr>         <td class="tg-0pky">Degree: secondary</td>     </tr>     <tr>         <td class="tg-0pky">Sector: health</td>     </tr>      </tbody>     </table>     </html>     </div>`)[0];
                popup_b2f24e337cbb3bbaa603245906937d09.setContent(html_cb0d083d161cd0c0835fae5eedb417cc);
            
        

        marker_9e3d7b069c8c97d34de785f20c124108.bindPopup(popup_b2f24e337cbb3bbaa603245906937d09)
        ;

        
    
</script>
</html>