<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_c84f98ac2ac7307e52d75e2f18781a2f {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_c84f98ac2ac7307e52d75e2f18781a2f" ></div>
        
</body>
<script>
    
    
            var map_c84f98ac2ac7307e52d75e2f18781a2f = L.map(
                "map_c84f98ac2ac7307e52d75e2f18781a2f",
                {
                    center: [24.231049320935448, 73.202967072313],
                    crs: L.CRS.EPSG3857,
                    zoom: 6,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_b9f8bc3c9fbb648e29cb2cd661bba864 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_c84f98ac2ac7307e52d75e2f18781a2f);
        
    
            var marker_0e29e7a9ca24fd323bd4c39f58134663 = L.marker(
                [21.2744690806881, 71.8157917861914],
                {}
            ).addTo(map_c84f98ac2ac7307e52d75e2f18781a2f);
        
    
        var popup_e6fc7fac069fc857d929efce607c55df = L.popup({"maxWidth": 500});

        
            
                var html_b19a4b448cac4511a246e1486fc01fb5 = $(`<div id="html_b19a4b448cac4511a246e1486fc01fb5" style="width: 100.0%; height: 100.0%;"><!DOCTYPE html>     <html>     <head>     <h4 style="margin-bottom:10"; width="200px">Krishna Narayan</h4>     </head>         <table style="height: 126px; width: 350px;">     <tbody>     <tr>         <td class="tg-0pky">Occupation: teacher</td>     </tr>     <tr>         <td class="tg-0pky">Degree: bachelors</td>     </tr>     <tr>         <td class="tg-0pky">Sector: education</td>     </tr>      </tbody>     </table>     </html>     </div>`)[0];
                popup_e6fc7fac069fc857d929efce607c55df.setContent(html_b19a4b448cac4511a246e1486fc01fb5);
            
        

        marker_0e29e7a9ca24fd323bd4c39f58134663.bindPopup(popup_e6fc7fac069fc857d929efce607c55df)
        ;

        
    
    
            var marker_f6507d6a6bcb3d31cec48c468652b62c = L.marker(
                [27.1876295611828, 74.5901423584346],
                {}
            ).addTo(map_c84f98ac2ac7307e52d75e2f18781a2f);
        
    
        var popup_8b900bc7e2b625e170f1042abef7df57 = L.popup({"maxWidth": 500});

        
            
                var html_5b08107dbbe112acbf08eea50cfca25b = $(`<div id="html_5b08107dbbe112acbf08eea50cfca25b" style="width: 100.0%; height: 100.0%;"><!DOCTYPE html>     <html>     <head>     <h4 style="margin-bottom:10"; width="200px">Nitesh Verma</h4>     </head>         <table style="height: 126px; width: 350px;">     <tbody>     <tr>         <td class="tg-0pky">Occupation: village level entrepreneur</td>     </tr>     <tr>         <td class="tg-0pky">Degree: bachelors</td>     </tr>     <tr>         <td class="tg-0pky">Sector: education</td>     </tr>      </tbody>     </table>     </html>     </div>`)[0];
                popup_8b900bc7e2b625e170f1042abef7df57.setContent(html_5b08107dbbe112acbf08eea50cfca25b);
            
        

        marker_f6507d6a6bcb3d31cec48c468652b62c.bindPopup(popup_8b900bc7e2b625e170f1042abef7df57)
        ;

        
    
</script>
</html>